.btnRnd {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: $color-secondary;
  border: none;
  font-size: 1.6rem;
  color: $color-font-light;
  box-shadow: $btn-shadow-normal;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 1rem;
  }
  transition: all 0.3s;

  &:hover,
  &:active {
    transform: scale(0.96);
    box-shadow: $btn-shadow-pressed;
  }
}
