.mission {
  width: 100vw;
  height: 100vh;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: $color-font-dark;
  }
}
