.projects {
  &__wave {
    background-color: $color-secondary;
    position: relative;
    z-index: 1;
    svg {
      position: relative;
      display: block;
      width: calc(161% + 1.3px);
      height: 255px;
    }
  }
  &__wave-fill {
    // fill: $color-secondary;
    fill: $color-tertiary;
  }

  &__table {
    margin-bottom: 12rem;
    // margin: 6rem auto;
  }

  &__select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 26rem);
    grid-gap: 5rem;
  }

  span {
    color: $color-accent-2;
  }
}
