.parent {
  font-size: 10rem;
  position: relative;
}

.panel {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.pink {
  background-color: pink;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: greenyellow;
}

.test1 {
  position: fixed;
  top: 4rem;
  left: 45rem;
  font-size: 5rem;
  color: #fff;
  mix-blend-mode: difference;
}
.test2 {
  position: fixed;
  top: 4rem;
  left: 50rem;
  font-size: 5rem;
  color: #fff;
  mix-blend-mode: difference;
}
