.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  .menu-icon {
    transform: scale(1.5) scaleX(-1);
    position: relative;
    margin: 3rem;
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 30;

    .menu-icon__cheeckbox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
    }
    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 22px;
      height: 12px;
    }
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-secondary;
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

      &:first-of-type {
        top: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }
    &.active,
    .menu-icon__cheeckbox:checked + div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 5px;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 5px;
        }
      }
    }

    &.active:hover span:first-of-type,
    &.active:hover span:last-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
      width: 22px;
    }

    &:hover {
      // no need hover effect on mobile.
      @media (min-width: 1024px) {
        span:first-of-type {
          width: 26px;
        }

        span:last-of-type {
          width: 12px;
        }
      }
    }
  }

  &__nav {
    // visibility: hidden;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    width: 60rem;
    height: 100vh;
    z-index: 20;
    background-color: $color-tertiary;
    pointer-events: none;
    &.open {
      pointer-events: auto;
    }
  }

  &__list {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-right: 10rem;
    opacity: 0;
    transform: translateX(200px);
  }

  &__braket {
    // visibility: hidden;
    opacity: 0;
    display: block;
    width: 2rem;
    height: 100%;
    margin-bottom: 0.5rem;
    transform: translateX(-30px) rotateY(-90deg);

    &--right {
      transform: rotate(180deg) translateX(-30px) rotateY(90deg);
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-family: $h2-font-family;
      font-size: $h2-font-size;
      padding: 1rem 2rem;
      color: $color-font-dark;
      text-decoration: none;
      text-transform: uppercase;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      color: $color-secondary;
    }

    // &:hover .navigation__braket {
    //   transform: translateX(100px);
    // }
  }
}
